.table {
	min-height: 600px;
	background-color: #fff;
	display: grid;
	grid-template-rows: auto 1fr;
	gap: 16px;

	.loading {
		min-height: inherit;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.heading {
		display: flex;

		.headingItem {
			width: 100%;
			font-size: 14px;
			line-height: 1;
			font-weight: 300;
			color: #667784;
		}
	}

	.rows {
		display: flex;
		flex-direction: column;

		.row {
			height: max-content;
			background-color: #f7f8f9;
			display: flex;
			padding-top: 12px;
			padding-bottom: 12px;
			margin-top: 4px;
			margin-bottom: 4px;
			border-radius: 4px;

			&:hover {
				background-color: #ecf8ff;
			}

			.value {
				width: 100%;
				font-size: 14px;
				color: #414f5a;
			}
		}
	}
}
