.table {
	background-color: #fff;
	display: grid;
	gap: 16px;

	.heading {
		display: flex;

		.headingItem {
			width: 100%;
			font-size: 14px;
			line-height: 1;
			font-weight: 300;
			color: #667784;
		}
	}

	.rows {
		display: grid;
		gap: 3px;

		.row {
			background-color: #f7f8f9;
			display: flex;
			padding-top: 12px;
			padding-bottom: 12px;
			border-radius: 4px;

			&:hover {
				background-color: #ecf8ff;
			}

			.value {
				width: 100%;
				font-size: 14px;
				color: #414f5a;
			}
		}
	}
}
