.input {
	width: 100%;
	color: #667784;
	background-color: #eff1f3;
	font-size: 16px;
	font-weight: 400;
	padding: 8px;
	border-radius: 4px;
	border: 0;

	&:focus {
		outline: none;
		background-color: #fff;
		border: 2px solid #48bbff;
	}
}
