.view {
	height: 100%;
	background-image: url('../../assets/images/background.png');
	background-color: rgba(0, 0, 0, 0.178);
	background-blend-mode: darken;
	background-position: top center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;

	.formContainer {
		max-width: 450px;
		width: 100%;
		background: hsla(0, 0%, 100%, 0.8);
		display: grid;
		gap: 15px;
		padding: 16px;
		border-radius: 8px;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(10px);

		.signIn {
			color: #667784;
			font-size: 16px;
			text-align: center;
		}
	}
}
